/*------------------Estilo para TELA GRANDE----------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px){

/*INDEX: INTRODUÇÃO  TELA GRANDE*/
h1{
    margin-top: 40px;}

/*INDEX: INFORMAÇÕES - VERDE - TELA GRANDE*/
.turma{
    font-size: 25px;}

.amigos p{
    font-size: 25px; }

/*INDEX: FOOTER - AMARELO -  TELA GRANDE*/
.footer{
    font-size: 15px;}

.insta-ico{
    margin-left: 95px; }   

/*CONTATO -  TELA GRANDE*/
.cad{
   margin-left: 60px;}



}

/*------------------Estilo para TELA MÉDIA----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){

/*INDEX: INTRODUÇÃO - TELA MÉDIA*/
h1{
    font-size: 35px;
    margin-top: 40px;}

h1:after{
    width: 585px;
    margin: 8px auto 40px;}


/*INDEX: INFORMAÇÕES - VERDE - TELA MÉDIA*/
.info{
    margin-bottom: 50px;}

.logo-grande{
    height: 300px;}

.nina1{
    margin-bottom: 90px;}      

.nina3ico,.nina4ico{
    width: 30px;}

.groupico{
    width: 120px;}

/*INDEX: FOOTER - AMARELO - TELA MÉDIA*/
.objetivo h3, .redes h3, .contato h3 {
    font-size: 19px; }

.objetivo p, .contato p{
    font-size: 13px;}

.insta-ico{
    margin-left: 55px; }

/*EVENTOS TABELA - VERDE - TELA MÉDIA*/
.rTable tbody td:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;  }

.rTable tbody td:nth-child(1){
    font-size: 15px;  }

.texto-evento p{
    font-size: 25px; }

.final{
    margin-bottom: 50px;
}

/*CADASTRO - AMARELO - TELA MÉDIA*/
.texto-cadastro img{
    margin: 0 auto;}


/*CONTATO -  TELA MÉDIA*/
.cad{
    margin-left: 20px;}

.formulario input{
    width: 290px; }
    
#texto-mensagem{
    width: 290px;}


}
/*------------------Estilo para TELA PEQUENA----------------------------*/
@media only screen and (max-width: 767px) {

/*INDEX: HEADER*/
.header{
    position: relative;
	padding-bottom: 0px;
    height: 330px    }

.logosocial{
    width: 210px ;}

.header img{
    margin: 0px auto;}

.menu{
    display: block;
    padding-top: 10px;
    padding-left: 30px; }

.menu ul li{ 
		width: 100px;
		display: block;
		float: left;
        margin: 10px;
        border: 3px solid #F6AB45;
        padding: 6px;
        text-align: center;
        font-size: 18px;  }

.headevento:after, .headcontato:after, .headfotos:after,.headcadastro:after{
    display: none; }

/*INDEX:FOTO INTRODUÇÃO*/
.foto-introducao {
    margin-top: 0px;}

/*INDEX: TITULO INTRODUÇÃO - AMARELO - TELA PQ*/ 	 
h1{
    font-size: 25px;
    padding-top: 40px; }

 h1:after{
    width: 200px;
    margin: 8px auto 40px;}

.sobre p{
    font-size: 18px;
    line-height: 25px ; }

.fotos2e3{
    margin: 40px 0 20px;}

/*INDEX: INfORMAÇÃO - VERDE - TELA PQ*/ 
.logo-grande{
    height: 280px;}

.info{
    font-size: 18px;
    display: block;
    margin-bottom: 30px;
    text-align: center;   }
    
.nina1ico, .nino1ico, .nino2ico{
    width: 70px;
    display: block;
    margin: 0 auto;}

.nino1ico, .nina3ico, .nina4ico{
    display: none;}

.nina2ico{
    display: block;
    width: 70px;
    margin: 40px auto -30px; }

.nina1 p{
    margin-bottom: 50px; }

.turma p{
    margin-bottom: 50px; }
   
/*INDEX: FOOTER - AMARELO - TELA PQ*/ 
.objetivo h3, .redes h3, .contato h3 {
    font-size: 18px; 
    margin-top: 35px;  }

.objetivo p, .contato p{
    font-size: 12px;}
    
.insta-ico{
    margin-left: 91px; }

.turma{
    padding: 0 30px 0 30px;}

.contato p{
    margin-bottom: 40px;}

/*FOTOS TITULO: AMARELO TELA PQ*/ 
.foto-01 {
    margin-top: 0px;}     

.titulo-momento{
    margin: 0px auto 10px;}

.titulo-momento:after{
    width: 200px;  }

.quote-foto p{
    font-size: 20px;   }

/*FOTOS PICS: VERDE TELA PQ*/    
.pic-foto img{
    margin-bottom: 25px;}

.pic-foto .ultima{
    margin-bottom: 60px;}

/*EVENTOS TITULO AMARELO - TELA PQ*/ 
.evento-01 {
    margin-top: 0px;}

.cafe{
    margin: 0 auto 25px; }

.confirme{
    margin-bottom: 50px;}

/*EVENTOS TABELA VERDE - TELA PQ*/ 
h2{
    font-size: 25px;}

h2:after{           
    width: 200px; } 

.rTable thead{
    display:none;}

.rTable tbody td{
    display:block; 
    flex-direction:column }

.rTable th , .rTable td{
    padding-top: 2px;
    font-size: 15px;   }

.titulo-evento:after{
    width: 200px;  }

.texto-evento p{
    font-size: 18px;}

.rTable tbody td:first-child{
    font-weight: bold;
    margin-top: 8px;  }
  
.rTable tbody td:nth-child(3){
    margin-bottom: 8px;  }

/*CADASTRO - AMARELO - TELA PQ*/
.cadastro-foto{
    margin-top: 0px;}

.titulo-cadastro:after{
    width: 200px; }

.inicio-cadastro img{
    margin: 0 auto;}

.inicio-cadastro p{
    text-align: center;
    font-size: 20px;}

.cad-meetup p{
    padding: 0 0px 30px;
    font-size: 20px; }

  
/*CONTATO -  TELA PQ*/
.contato-foto{
    margin-top: 0px;}

.texto-contato{
    font-size: 20px;  }

.cad{
    margin-left: 0px;
margin-top: -20px;}

.formulario input{
    width: 290px; }

.formulario label{
    font-size: 18px; }
    
#texto-mensagem{
    width: 290px;}


}