/*------------------Estilo para TELA GRANDE----------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px){

/*INDEX: INTRODUÇÃO - AMARELO -  TELA GRANDE*/
.introducao{
    height: 870px;}

h1{
    margin-top: 40px;}

/*INDEX: INFORMAÇÕES - VERDE - TELA GRANDE*/
.informacoes{
    height: 1600px;
    display: block;} 

.turma{
    display: block;
    position: absolute;
    font-size: 23px;}

.amigos p{
    font-size: 23px; }

/*INDEX: FOOTER - AMARELO -  TELA GRANDE*/
.footer{
    height: 160px;
    display: block;
    font-size: 15px;}

.insta-ico{
    margin-left: 95px; }

/*EVENTOS  - VERDE -  TELA GRANDE*/
.tabela{
    height: 7460px;
    display: block;      }

/*FOTOS/PICS  - VERDE -  TELA GRANDE*/
.pics{
    height: 1500px ;  }



}

/*------------------Estilo para TELA MÉDIA----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){

/*INDEX: INTRODUÇÃO - AMARELO - TELA MÉDIA*/
.introducao{
    height: 960px;}

h1{
    font-size: 35px;
    margin-top: 40px;}

h1:after{
    width: 585px;
    margin: 8px auto 40px;}

.sobre p{
    font-size: 20px; }

/*INDEX: INFORMAÇÕES - VERDE - TELA MÉDIA*/
.informacoes{
    height: 1630px;} 

.logo-grande{
    height: 300px;}

.amigos p{
    font-size: 20px; }

.nina1{
    margin-bottom: 90px;}      

.nina3ico,.nina4ico{
    width: 30px;}

.groupico{
    width: 120px;}

.turma p{
    font-size: 20px;}

.info{
    margin-bottom: 60px;}

/*INDEX: FOOTER - AMARELO - TELA MÉDIA*/
.footer{
   height: 200px;}

.objetivo h3, .redes h3, .contato h3 {
    font-size: 19px; }

.objetivo p, .contato p{
    font-size: 13px;}

.insta-ico{
    margin-left: 55px; }

/*EVENTOS TITULO - AMARELO - TELA MÉDIA*/
.eventos{
    height: 520px;}

/*EVENTOS TABELA - VERDE - TELA MÉDIA*/
.tabela{
    height: 9600px; }

.rTable tbody td:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;  }

.rTable tbody td:nth-child(1){
    font-size: 15px;  }

.texto-evento p{
    font-size: 20px; }

/*FOTOS TITULO - AMARELO - TELA MÉDIA*/
.momento{
    height: 330px;}

/*FOTOS PICS - VERDE - TELA MÉDIA*/
.pics{
    height: 1230px ;  }


}
/*------------------Estilo para TELA PEQUENA----------------------------*/
@media only screen and (max-width: 767px) {

/*INDEX: HEADER*/
.header{
    position: relative;
	padding-bottom: 0px;
    height: 330px    }

.logosocial{
    width: 210px ;}

.header img{
    margin: 0px auto;}

.menu{
    display: block;
    padding-top: 10px;
    padding-left: 30px; }

.menu ul li{ 
		width: 100px;
		display: block;
		float: left;
        margin: 10px;
        border: 3px solid #F6AB45;
        padding: 6px;
        text-align: center;
        font-size: 18px;  }

.headevento:after, .headcontato:after, .headfotos:after,.headcadastro:after{
    display: none; }

/*INDEX:FOTO INTRODUÇÃO*/
.foto-introducao {
    margin-top: 0px;}

/*INDEX: TITULO INTRODUÇÃO - AMARELO - TELA PQ*/ 	 
.introducao{
    height: 1360px;}

h1{
    font-size: 25px;
    padding-top: 40px; }

 h1:after{
    width: 200px;
    margin: 8px auto 40px;}

.sobre p{
    font-size: 18px;
    line-height: 25px ; }

.fotos2e3{
    margin: 40px 0 20px;}

/*INDEX: INfORMAÇÃO - VERDE - TELA PQ*/ 
.informacoes{
    height: 1870px;} 

.logo-grande{
    height: 280px;}

.info{
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
    text-align: center;   }
    
.nina1ico, .nino1ico, .nino2ico{
    width: 70px;
    display: block;
    margin: 0 auto;}

.nino1ico, .nina3ico, .nina4ico{
    display: none;}

.nina2ico{
    display: block;
    width: 70px;
    margin: 40px auto -30px;   }
   

/*INDEX: FOOTER - AMARELO - TELA PQ*/ 
.footer{
    height: 375px;   }

.objetivo h3, .redes h3, .contato h3 {
    font-size: 18px; 
    margin-top: 35px;  }

.objetivo p, .contato p{
    font-size: 12px;}
    
.insta-ico{
    margin-left: 91px; }

.turma{
    padding: 0 30px 0 30px;}

/*FOTOS TITULO: AMARELO TELA PQ*/ 
.momento{
    height: 350px;}

.foto-01 {
    margin-top: 0px;}     

.titulo-momento{
    margin: 0px auto 10px;}

.titulo-momento:after{
    width: 200px;  }

.quote-foto p{
    font-size: 20px;   }

/*FOTOS PICS: VERDE TELA PQ*/    
.pics{
    height: 1910px ;  }

.pic-foto img{
    margin-bottom: 25px;}

.pic-foto .ultima{
    margin-bottom: 60px;}

/*EVENTOS TITULO AMARELO - TELA PQ*/ 
.eventos{   
    height: 870px;}

.evento-01 {
    margin-top: 0px;}

.cafe{
    margin: 0 auto 25px; }

/*EVENTOS TABELA VERDE - TELA PQ*/ 
.tabela{
    height: 23700px; }

h2{
    font-size: 25px;}

h2:after{           
    width: 200px; } 

.rTable thead{
    display:none;}

.rTable tbody td{
    display:block; 
    flex-direction:column }

.rTable th , .rTable td{
    padding-top: 2px;
    font-size: 15px;   }

.titulo-evento:after{
    width: 200px;  }

.texto-evento p{
    font-size: 18px;}

.rTable tbody td:first-child{
    font-weight: bold;
    margin-top: 8px;  }
  
.rTable tbody td:nth-child(3){
    margin-bottom: 8px;  }





}