/*CONFIGURAÇÃO GERAL*/
.foto-01 {
    background: url(img/pic1.jpg) center no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 150px;
    display: block;
    margin-top: 115px;}

.momento{
    background-color: #F6AB45;
    width: 100%;
    height: 310px;}

.titulo-momento{
    margin: 40px auto 10px;}

.titulo-momento:after{
    width: 435px;  }

.quote-foto{
    text-align: center;}

.quote-foto p{
    font-size: 25px;
    padding-bottom: 10px;}

.pics{
    background-color:#4B8E85 ;
    width: 100%;
    height: 1690px ;  }
    
.pic-foto img{
    margin-bottom: 60px;}



